:root {
  --title-text-color: #212121;
  --secondary-text-color: #757575;
  --common-lite-color: #ffffff;
  --accent-color: #2196f3;
}
* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  background: var(--common-lite-color);
}
ul {
  list-style: none;
}
img {
  display: block;
}
.link-effects {
  text-decoration: none;
  display: block;
  margin: 0px;
  padding: 0px;
}
.header-container {
  margin-left: 215px;
  width: 1200px;
  display: flex;
  letter-spacing: 0.02em;
  border: 1px solid #ececec;
  background: var(--common-lite-color);
}

/* header nav menu */
.nav-list {
  display: flex;
}
.logo-top {
  padding-top: 24px;
  padding-bottom: 24px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.web {
  color: var(--accent-color);
}
.navigation {
  margin-left: 93px;
  display: flex;
  font-weight: 500;
}
.nav-list {
}
.nav-list:not(:first-child) {
  margin-left: 50px;
}
.nav-link {
  padding: 32px 0px;
  font-weight: inherit;
  font-size: 14px;
  line-height: 1.142;
  color: var(--title-text-color);
}
.nav-link-current,
.nav-link:hover,
.nav-link:active {
  color: var(--accent-color);
}
/* header nav menu end */

/* header contacts */
.contacts {
  margin-left: 330px;
  display: flex;
}
.contact-link {
  padding: 32px 0px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  color: var(--secondary-text-color);
}
.contact-link:hover {
  color: var(--accent-color);
}
.contact-list:not(:first-child) {
  margin-left: 50px;
}
/* header contacts */

/* section hero */
.section-hero {
  padding: 200px 0px;
  background: #2f303a;
}
.container-hero {
  width: 1200px;
  padding: 0px 15px;
  margin-left: 452px;
}
.main-description {
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--common-lite-color);
}
.order-service {
  margin-top: 30px;
  margin-left: 248px;
  padding: 10px 32px;
  width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  color: var(--common-lite-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(61, 11, 11, 0.15);
  cursor: pointer;
}
/* section hero end */

/* section features */
.section-features {
  padding: 94px 0px;
}
.features-container {
  width: 1200px;
  padding: 0px 15px;
  margin-left: auto;
  margin-right: auto;
}
.features-title {
  text-align: center;
  visibility: hidden;
}
.features {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  line-height: 1.714;
  color: var(--common-lite-color);
}
.details {
  margin-right: 30px;
  width: 270px;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.details-items {
  width: 270px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.details-description {
  margin-top: 10px;
  width: 270px;
}
/* section features end */

/* section what we do */
.section-what-we-do {
  padding-bottom: 94px;
}
.what-we-do-container {
  margin-left: auto;
  margin-right: auto;
  padding: 0px 15px;
  width: 1200px;
}
.what-we-do-title {
  margin-left: 397px;
  margin-bottom: 50px;
  min-width: 377px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.what-we-do {
  display: flex;
  text-align: center;
}
.what-we-do-items {
  padding-right: 30px;
}
/* section what we do end */

/* section team */
.team-section {
  background-color: #f5f4fa;
  padding: 94px 0px;
}
.team-container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 15px;
}
.team-title {
  margin-bottom: 50px;
  margin-left: 452px;
  min-width: 266px;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.team {
  padding-bottom: 94px;
  width: 1170px;
  height: 368px;
  display: flex;
  flex-wrap: nowrap;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
}
.team-members {
  padding-top: 0px;
  text-align: center;
  color: var(--title-text-color);
}
.team-members:not(:last-child) {
  margin-right: 30px;
}
.team-member-data {
  padding: 30px 32px;
  flex-basis: calc(100% / 3 - 20px);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--common-lite-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.team-member-position {
  margin-top: 10px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/* section team end */

/* footer */
.footer {
  background: #2f303a;
  padding: 60px 0px;
}
.footer-container {
  padding: 0px 15px;
  margin-left: 215px;
  margin-right: auto;

  width: 1200px;
  display: inline-block;
}
.logo-footer {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.153;
  letter-spacing: 0.03em;
  color: var(--common-lite-color);
}
.footer-address {
  padding-top: 20px;
  font-size: 14px;
  width: 231px;
  line-height: 1.714;
  font-style: inherit;
  color: var(--common-lite-color);
}
.footer-mail,
.city-address {
  margin-bottom: 10px;
}
.footer-tel-link,
.footer-mail-link {
  font-size: inherit;
  line-height: inherit;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-tel-link:hover,
.footer-mail-link:hover {
  color: var(--accent-color);
}
/* footer end */

/* section portfolio */
.section-portfolio {
  padding: 94px 0px;
}
.portfolio-container {
  padding: 0px 15px;
  width: 1200px;
  margin-left: 200px;
  margin-right: auto;
}
.filters {
  margin-bottom: 50px;
  margin-left: 280px;
  width: 612px;
  display: flex;
  border-radius: 4px;
}
.filter-item button {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  color: var(--title-text-color);
  background: #f5f4fa;
  border: none;
  cursor: pointer;
  outline: none;
}
.filter-item:not(:last-child) {
  margin-right: 8px;
}
.filter-item:active button,
.filter-item:hover button {
  border: none;
  background: var(--accent-color);
  color: var(--common-lite-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.projects {
  width: 1170px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.project-list {
  margin-bottom: 30px;
  margin-left: 30px;
  width: 370px;
  box-sizing: border-box;
  text-align: left;
  background: var(--common-lite-color);
  border: 1px solid #eeeeee;
}
.project-list:nth-child(3n + 1) {
  margin-left: 0px;
}
.project-list:nth-child(n + 7) {
  margin-bottom: 0px;
}
.project-text {
  padding: 20px 24px;
}
.project-title {
  margin-bottom: 4px;
  width: 322px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.project-description {
  width: 322px;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/* section portfolio end*/
